<section>
  <div class="cards-container">
    <div class="card">
      <img class="card__image" src="https://images.pexels.com/photos/1224228/pexels-photo-1224228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Avatar" style="width:100%">
      <div class="container">
        <h2>Coronita</h2>
        <h3>Description</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Consequuntur magnam, tenetur quasi libero nam nesciunt nulla,
            temporibus accusantium pariatur repudiandae laborum tempora rerum
             voluptates atque maxime ut ea voluptas impedit.</p>
      </div>
    </div>
    <div class="card">
      <img class="card__image" src="https://images.pexels.com/photos/1224228/pexels-photo-1224228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Avatar" style="width:100%">
      <div class="container">
        <h4>Coronita</h4>
        <h3>Description</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Consequuntur magnam, tenetur quasi libero nam nesciunt nulla,
            temporibus accusantium pariatur repudiandae laborum tempora rerum
             voluptates atque maxime ut ea voluptas impedit.</p>
      </div>
    </div>
    <div class="card">
      <img class="card__image" src="https://images.pexels.com/photos/1224228/pexels-photo-1224228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Avatar" style="width:100%">
      <div class="container">
        <h4>Coronita</h4>
        <h3>Description</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Consequuntur magnam, tenetur quasi libero nam nesciunt nulla,
            temporibus accusantium pariatur repudiandae laborum tempora rerum
             voluptates atque maxime ut ea voluptas impedit.</p>
      </div>
    </div>
    <div class="card">
      <img class="card__image" src="https://images.pexels.com/photos/1224228/pexels-photo-1224228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Avatar" style="width:100%">
      <div class="container">
        <h4>Coronita</h4>
        <h3>Description</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Consequuntur magnam, tenetur quasi libero nam nesciunt nulla,
            temporibus accusantium pariatur repudiandae laborum tempora rerum
             voluptates atque maxime ut ea voluptas impedit.</p>
      </div>
    </div>
    <div class="card">
      <img class="card__image" src="https://images.pexels.com/photos/1224228/pexels-photo-1224228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Avatar" style="width:100%">
      <div class="container">
        <h4>Coronita</h4>
        <h3>Description</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Consequuntur magnam, tenetur quasi libero nam nesciunt nulla,
            temporibus accusantium pariatur repudiandae laborum tempora rerum
             voluptates atque maxime ut ea voluptas impedit.</p>
      </div>
    </div>
  </div>
</section>