<section class="detail-section">
  <div class="detail-section__container">
    <div class="detail-section_img_rat">
      <img class="detail-section__image" src="https://images.pexels.com/photos/1224228/pexels-photo-1224228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"  heigh=750 width=1260 alt="Avatar" style="width:100%">
      <div class="rating">
        <button class="icon">
          <i class="fas fa-star"></i>
        </button>
        <button class="icon">
          <i class="far fa-star"></i>
        </button>
        <button class="icon">
          <i class="far fa-star"></i>
        </button>
      </div>
    </div>
    <div class="detail-setcion__content">
      <div class="detail-section__desc">
        <h2>Description</h2>
        <p>
          A titillating, neurotic, peroxide punk of a Pale Ale.
          Combining attitude, style, substance, and a little bit of low self esteem for good measure;
          what would your mother say? The seductive lure of the sassy passion fruit hop proves too much to resist.
          All that is even before we get onto the fact that there are no additives, preservatives,
          pasteurization or strings attached. All wrapped up with the customary BrewDog bite and imaginative twist.
        </p>
      </div>
      <div class="detail-section__ingredients">
        <h2>Ingredients</h2>
        <ul>
          <li>Maris Otter Extra Pale</li>
          <li>Caramalt</li>
          <li>Munich</li>
        </ul>
      </div>
    </div>
  </div>
</section>