header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 318px;
  max-width: 100%;
  .navbar-container {
    width: 80%;
    padding-right: 10px;
  }
  .app-logo {
    font-size: 1.5rem;
    padding-left: 10px;
    & a {
      text-decoration: none;
      color: white;
      color: #f8a50b;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
  .fa-search {
    cursor: pointer;
    padding-right: 10px;
  }
  .btn-search {
    border: none;
    background-color: transparent;
  }
  .beer-search {
    background: rgba(247, 228, 200, 0.74);
    padding: 8px 0px 8px 8px;
    margin-right: 5px;
    border-radius: 8px;
    .search-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @include desktop {
      width: 60%;
      margin-right: 20px;
      .search-form {
        padding: 0 10px;
      }
    }
  }
  .beer-search__input {
    background: transparent;
    border: none;
    outline: 0px;
  }

  picture {
   .img-header {
    max-width: 100%;
    width: 100%;
    height: 318px;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    filter: grayscale(80%);
   }
  }
  .filter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    p {
      color: #FFFF;
      font-family: 'Open Sans', sans-serif;
    }
    .btn-filter {
      border: none;
      background-color: transparent;
      background-color: #f8a50b;
      padding: 5px;
      font-family: 'Open Sans', sans-serif;
      box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.4);
    }
  }
}

