header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  height: 50px;
  max-width: 100%;
  .app-logo {
    font-size: 1.5rem;
    padding-left: 10px;
    & a {
      text-decoration: none;
      color: white;
    }
  }
  .fa-search {
    cursor: pointer;
    padding-right: 10px;
  }
  .btn-search {
    border: none;
    background-color: transparent;
  }
  .beer-search {
    background: rgba(0,0,0,0.04);
    padding: 8px 0px 8px 8px;
    margin-right: 5px;
    border-radius: 8px;
    .search-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @include desktop {
      width: 60%;
      margin-right: 20px;
      .search-form {
        padding: 0 10px;
      }
    }
  }
  .beer-search__input {
    background: transparent;
    border: none;
    outline: 0px;
  }

}

