$app-principal-color: #f8a50b;

$principal-font-family: 'Open Sans', sans-serif;
$secondary-font-family: Verdana, Geneva, Tahoma, sans-serif;
$box-shadow-card: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
$box-shadow-card-emphasis: 3px 3px 8px 0 rgba(0, 0, 0, 0.4);

$desktop-width: 992px;
$middle-desktop-width: 400px;